.btn{
    @at-root #{&}--success {
        background: #00B8D8;
        color:white;
        &:active{
            background:rgb(0, 166, 196);
        }
    }
    @at-root #{&}--danger {
        background: #064789;
        color:white;
        &:active{
            background: #06396d;
        }
    }
}
.nav__link{
    @at-root #{&}--active {
        &:before{
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    } 
}